/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/bower_components
/node_modules
*.mm
mm.log
/app/config/local
/public/assets/styles
/public/assets/scripts
/app/database/production.sqlite
